<!DOCTYPE html>
{% load staticfiles %}
<html>
<head lang="de">
    <meta charset="UTF-8">
    <title>Hausnummern Landshut</title>
    <link rel="stylesheet" href="{% static 'adr_neu/style.css' %}" type="text/css" />
</head>
<body>
<div style="position: relative; left: -50%; float: right; overflow: visible; margin: 2em 0;">
    <div style="position: relative; left: 50%;">
        <div class="content">
            <h1>Hausnummern Landshut</h1>
                {% csrf_token %}
		{% for stadtteil in stadtteile %}
                <h2><a href="/stadtteil/{{ stadtteil.name }}">{{ stadtteil.name }}</a></h2>
		{% endfor %}
                <h2><a href="/stadtteil/alle">Komplette Liste (Warnung: groß!)</a></h2>

  		<p>Download komplette Liste: <a href="/download/alle?format=csv">csv</a></p>
        </div>
    </div>
</div>
</body>
</html>
