<!DOCTYPE html>
{% load staticfiles %}
{% load l10n %}
<html>
<head lang="de">
    <meta charset="UTF-8">
    <title>Hausnummern Landshut: Stadtteil-Liste</title>
    <link rel="stylesheet" href="{% static 'adr_neu/style.css' %}" type="text/css" />
<script type='text/javascript'>
function josm( url )
{
  var request = new XMLHttpRequest();
  request.open('GET', url, true);
  request.send();
}
</script>
</head>
<style type="text/css">
    .gis-DEL { background-color: red; }
    .gis-CHNG { background-color: yellow; }
    .gis-NEW { background-color: green; }
    .osm-VORH { background-color: red; }
    .osm-FEHLT { background-color: red; }
    .osm-POS { background-color: yellow; }
    .osm-OSM_VERT { background-color: yellow; }
    .osm-OK { background-color: lime; }
    .osm-OK_MANU { background-color: lime; }
    .kommentar { font-size: 77%; }
</style>
<body>
<div style="position: relative; left: -50%; float: right; overflow: visible; margin: 2em 0;">
    <div style="position: relative; left: 50%;">
        <div class="content">
	    <p><strong>Bitte bei OSM-Änderungen im Kommentar/Source angeben:</strong><br/>
	    <tt>Stadt Landshut, see http://wiki.openstreetmap.org/wiki/Landshut/Adressdaten</tt></p>

            <form action="/adr_neu/save" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ liste.name }}" name="liste_name">
		{% for stadtteil, nummern  in adressen %}
                <h2>Stadtteil: {{ stadtteil }}</h2> 

	    	<p>
		  <a href="/sync/{{ stadtteil.name }}">Abgleich mit OpenStreetMap</a><br/>
		  Download TODOs neu: <a href="/download/{{ stadtteil.name|urlencode }}?format=csv&typ=todo-NEW">csv</a>
		  <a href="/download/{{ stadtteil.name|urlencode }}?format=osm&typ=todo-NEW">osm</a>
		  <a href="/download/{{ stadtteil.name|urlencode }}?format=gpx&typ=todo-NEW">gpx</a><br/>
		  Download TODOs verschoben: <a href="/download/{{ stadtteil.name|urlencode }}?format=csv&typ=todo-CHNG">csv</a>
		  <a href="/download/{{ stadtteil.name|urlencode }}?format=osm&typ=todo-CHNG">osm</a>
		  <a href="/download/{{ stadtteil.name|urlencode }}?format=gpx&typ=todo-CHNG">gpx</a><br/>
		  Download TODOs gelöscht: <a href="/download/{{ stadtteil.name|urlencode }}?format=csv&typ=todo-DEL">csv</a>
		  <a href="/download/{{ stadtteil.name|urlencode }}?format=osm&typ=todo-DEL">osm</a>
		  <a href="/download/{{ stadtteil.name|urlencode }}?format=gpx&typ=todo-DEL">gpx</a>
		</p>
                <table border>
                    <tr>
                        <th style="vertical-align: bottom;"><label for="Nummer">Adresse</label></th>
                        <th style="vertical-align: bottom;"><label for="Nummer">Koordinaten</label></th>
                        <th style="vertical-align: bottom;"><label for="Nummer">im GIS:</label></th>
                        <th style="vertical-align: bottom;"><label for="Nummer">in OSM?</label></th>
                        <th style="vertical-align: bottom;"><label for="Nummer">Tools</label></th>
                        <th style="vertical-align: bottom;"><label for="Nummer">Kommentar</label></th>
                    </tr>

                    {% for nummer in nummern %}
		    <tr>
                        <td>{{ nummer.nummer }}</td>
                        <td><a href="http://www.openstreetmap.org/?mlat={{ nummer.nummer.breite|unlocalize }}&mlon={{ nummer.nummer.laenge|unlocalize }}#map=18/{{ nummer.nummer.breite|unlocalize }}/{{ nummer.nummer.laenge|unlocalize }}">{{ nummer.nummer.laenge|floatformat:3 }} {{ nummer.nummer.breite|floatformat:3 }}</a></td>
                        <td class="gis-{{ nummer.nummer.gis_status }}">{{ nummer.nummer.get_gis_status_display }}</td>
                        <td class="osm-{{ nummer.nummer.status }}">{{ nummer.nummer.get_status_display }}</td>
                        <td><a href="http://overpass-turbo.eu/?&Q=area(3600062484)-%3e.s%3b%0d%0a(%0d%0a++node%5b%22addr%3ahousenumber%22%3d%22{{ nummer.nummer.nummer|urlencode }}%22%5d%5b%22addr%3astreet%22%3d%22{{ nummer.strasse|urlencode }}%22%5d(area.s)%3b%0d%0a++way%5b%22addr%3ahousenumber%22%3d%22{{ nummer.nummer.nummer|urlencode }}%22%5d%5b%22addr%3astreet%22%3d%22{{ nummer.strasse|urlencode }}%22%5d(area.s)%3b%0d%0a++rel%5b%22addr%3ahousenumber%22%3d%22{{ nummer.nummer.nummer|urlencode }}%22%5d%5b%22addr%3astreet%22%3d%22{{ nummer.strasse|urlencode }}%22%5d(area.s)%3b%0d%0a)%3b%0d%0aout+body%3b%0d%0a%3e%3b%0d%0aout+skel+qt%3b&R">Overpass</a>
			   <a href="#{{ nummer.nummer.id }}" onclick="javascript:josm('http://localhost:8111/load_and_zoom?left={{ nummer.josm.l|unlocalize }}&right={{ nummer.josm.r|unlocalize }}&top={{ nummer.josm.t|unlocalize }}&bottom={{ nummer.josm.b|unlocalize }}')">JOSM</a>
			   <a href="/admin/adr_neu/hausnummer/{{ nummer.nummer.id }}/change/">Admin</a>
			</td>
                        <td class="kommentar">{{ nummer.nummer.kommentar }}</td>
		    </tr>
                    {% endfor %}
                </table>
		{% endfor %}
                <!--<input type="submit" value="Speichern" style="float: right;"/> -->

                <div style="clear: both;"></div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
